<table width="100%" bgcolor="#272a2d" cellpadding="0" cellspacing="0" border="0" id="main-banner" st-bgcolor="edit" st-sortable="banner">
  <tbody>
    <tr>
       <td>
          <table bgcolor="#1a1c1e" width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" st-options="bg">
             <tbody>
                <tr>
                   <!-- start of image -->
                   <td align="center">
                      <a target="_blank" href="#">
                        <img width="600" border="0" height="200" alt="" border="0" class="image_fix" src="img/banner-600x200.png" class="banner" st-image="banner-image"></a>
                   </td>
                </tr>
             </tbody>
          </table>
          <!-- end of image -->
       </td>
    </tr>
  </tbody>
</table>
