<table width="100%" bgcolor="#272a2d" cellpadding="0" cellspacing="0" border="0" id="preheader" st-bgcolor="edit" st-sortable="preheader">
  <tbody>
    <tr>
       <td>
          <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" st-options="edit">
            <tbody>
              <!-- Spacing -->
              <tr>
                <td width="100%" height="20"></td>
              </tr>
              <!-- Spacing -->
              <tr>
                <td align="center" valign="middle" class="preheaderContent" st-content="preheader">
                  Can't see this Email? <a href="#">View it in your Browser </a>
                </td>
              </tr>
              <!-- Spacing -->
              <tr>
                <td width="100%" height="20"></td>
              </tr>
              <!-- Spacing -->
            </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
