{% extends "layouts/default.njk" %}

{% block content %}
  <!-- Start of preheader -->
  {% include "includes/preheader.njk" %}
  <!-- End of preheader -->

  <!-- Start of header -->
  {% include "includes/header.njk" %}
  <!-- End of Header -->

  <!-- Start of main-banner -->
  {% include "includes/mainBanner.njk" %}
  <!-- End of main-banner -->

  <!-- start textbox-with-title -->
  {% include "includes/textbox.njk" %}
  <!-- end of textbox-with-title -->

  <!-- Start of postfooter -->
  {% include "includes/postfooter.njk" %}
  <!-- End of postfooter -->
{% endblock %}
